<% layout("shared/layout") %>
<div class="container">
    <% for(let campground of campgrounds) { %>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= campground.image %>" class="img-fluid rounded-start" 
                        alt="Campground Picture">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <span class="card-title"><%= campground.title %></span>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <%= campground.location %>
                        </p>
                        <a href="#" class="btn btn-primary">View <%= campground.title %></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>
</div>