<% layout("shared/layout") %>
    <div class="container" style="max-width: 675px;">
        <div class="card">
            <img src="<%= campground.image %>" class="card-img-top" alt="<%= campground.title %>">
            <div class="card-body">
                <h5 class="card-title">
                    <%= campground.title %>
                </h5>
                <p class="card-text">
                    <%= campground.description %>
                </p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item text-muted">
                    <%= campground.location %>
                </li>
                <li class="list-group-item">$<%= campground.price %> per night</li>
            </ul>
            <div class="card-body">
                <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-primary">Edit</a>
                <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</a>
                </form>
            </div>
            <div class="card-footer text-muted">
                2 days ago
            </div>
        </div>
        <form class="form-validate" method="POST" action="" novalidate>
            <label class="form-label" for="rating">Rating</label>
            <input class="form-control" id="rating" name="review[rating]">
            <label class="form-label" for="review">Review</label>
            <textarea class="form-control" id="review" name="review[body]" cols="30" rows="3">
        </form>
    </div>